<a href="https://colab.research.google.com/github/parksiwoo1/bmt_python/blob/main/21511_11%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dates=pd.date_range('20210514',periods=6)
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [8]:
df

                   A         B         C         D
2021-05-14 -0.172001 -0.845424  0.903493 -1.087624
2021-05-15  0.596868  0.822966 -1.727255  0.006794
2021-05-16 -0.271070 -0.797020 -1.631884  0.755110
2021-05-17 -1.049681 -0.305975  0.818902 -0.089954
2021-05-18  1.083220 -1.929278 -1.301436  1.017441
2021-05-19 -0.776590  1.836651  0.905515 -0.777818

In [10]:
df.mean(1)

2021-05-14   -0.300389
2021-05-15   -0.075157
2021-05-16   -0.486216
2021-05-17   -0.156677
2021-05-18   -0.282513
2021-05-19    0.296939
Freq: D, dtype: float64

In [13]:
df.apply(np.cumsum,axis=0)

                   A         B         C         D
2021-05-14 -0.172001 -0.845424  0.903493 -1.087624
2021-05-15  0.424866 -0.022458 -0.823762 -1.080830
2021-05-16  0.153796 -0.819478 -2.455646 -0.325719
2021-05-17 -0.895885 -1.125453 -1.636744 -0.415673
2021-05-18  0.187335 -3.054731 -2.938181  0.601767
2021-05-19 -0.589256 -1.218081 -2.032666 -0.176051

In [15]:
df.apply(lambda x:x.max()-x.min(),axis=1)

2021-05-14    1.991117
2021-05-15    2.550221
2021-05-16    2.386994
2021-05-17    1.868583
2021-05-18    3.012498
2021-05-19    2.614468
Freq: D, dtype: float64

In [25]:
s=pd.Series(np.random.randint(1,6,size=6000000))
s.value_counts()

2    1201589
3    1200387
4    1199680
5    1199677
1    1198667
dtype: int64

In [26]:
df = pd.DataFrame(np.random.randn(10, 4))

In [27]:
df

          0         1         2         3
0 -0.421234  0.241373 -0.759561  1.768699
1 -1.853379  1.852610  0.357144 -0.007694
2  0.898029  1.692809 -0.835416 -0.072411
3 -0.243243 -0.181271 -0.140734 -2.512213
4  0.981955  0.954765  2.266865  0.493650
5 -0.071901 -0.111147  0.048027 -0.825126
6 -0.920234  1.004799  0.128951 -0.625979
7  0.418783  0.169940  0.312561  1.678494
8 -0.665669  0.049459 -0.661256 -1.435862
9 -0.036405 -0.606828  0.587610  0.349209

In [29]:
df[3:7]

          0         1         2         3
3 -0.243243 -0.181271 -0.140734 -2.512213
4  0.981955  0.954765  2.266865  0.493650
5 -0.071901 -0.111147  0.048027 -0.825126
6 -0.920234  1.004799  0.128951 -0.625979

In [31]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0 -0.421234  0.241373 -0.759561  1.768699
 1 -1.853379  1.852610  0.357144 -0.007694
 2  0.898029  1.692809 -0.835416 -0.072411,
           0         1         2         3
 3 -0.243243 -0.181271 -0.140734 -2.512213
 4  0.981955  0.954765  2.266865  0.493650
 5 -0.071901 -0.111147  0.048027 -0.825126
 6 -0.920234  1.004799  0.128951 -0.625979,
           0         1         2         3
 7  0.418783  0.169940  0.312561  1.678494
 8 -0.665669  0.049459 -0.661256 -1.435862
 9 -0.036405 -0.606828  0.587610  0.349209]

In [32]:
pd.concat(pieces)

          0         1         2         3
0 -0.421234  0.241373 -0.759561  1.768699
1 -1.853379  1.852610  0.357144 -0.007694
2  0.898029  1.692809 -0.835416 -0.072411
3 -0.243243 -0.181271 -0.140734 -2.512213
4  0.981955  0.954765  2.266865  0.493650
5 -0.071901 -0.111147  0.048027 -0.825126
6 -0.920234  1.004799  0.128951 -0.625979
7  0.418783  0.169940  0.312561  1.678494
8 -0.665669  0.049459 -0.661256 -1.435862
9 -0.036405 -0.606828  0.587610  0.349209

In [33]:
left = pd.DataFrame(
      {
        'key':['foo', 'foo'], 'lval': [1, 2]
      }
    )
right = pd.DataFrame(
      {
        'key':['foo', 'foo'], 'rval': [4, 5]
      }
    )

In [35]:
left

   key  lval
0  foo     1
1  foo     2

In [36]:
right

   key  rval
0  foo     4
1  foo     5

In [38]:
pd_merge = pd.merge(left, right, on = 'key') 
pd_merge

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [42]:
s = df.iloc[3]
s

0   -0.243243
1   -0.181271
2   -0.140734
3   -2.512213
Name: 3, dtype: float64

In [44]:
df.append(s, ignore_index=True)

           0         1         2         3
0  -0.421234  0.241373 -0.759561  1.768699
1  -1.853379  1.852610  0.357144 -0.007694
2   0.898029  1.692809 -0.835416 -0.072411
3  -0.243243 -0.181271 -0.140734 -2.512213
4   0.981955  0.954765  2.266865  0.493650
5  -0.071901 -0.111147  0.048027 -0.825126
6  -0.920234  1.004799  0.128951 -0.625979
7   0.418783  0.169940  0.312561  1.678494
8  -0.665669  0.049459 -0.661256 -1.435862
9  -0.036405 -0.606828  0.587610  0.349209
10 -0.243243 -0.181271 -0.140734 -2.512213