<a href="https://colab.research.google.com/github/parksiwoo1/bmt_python/blob/main/21511_16%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
names=['정밀','폴리','산설','메카','로봇','전기']

In [ ]:
type(names)

list

In [ ]:
names[1]

'폴리'

In [ ]:
type(names[0])

str

In [ ]:
names.append('부산기계')

In [ ]:
names

['정밀', '폴리', '산설', '메카', '로봇', '전기', '부산기계']

In [ ]:
for i in names:
  if len(i)>2:
    print(i,'공업고등학교')
    print(i+'공업고등학교')

부산기계 공업고등학교
부산기계공업고등학교

In [ ]:
#주석
print(20**3)
print('Hello World!')

8000
Hello World!

In [ ]:
school = '부산기계공고' 
print(school)  

a = 1024
print(a)
  
name = "전기과"
print(name+' 화이팅!!!') 
print(f'{name} 화이팅!!!')

print(2021, f'{name} 화이팅!!!')

부산기계공고
1024
전기과 화이팅!!!
전기과 화이팅!!!
2021 전기과 화이팅!!!

In [ ]:
name = input('이름을 입력해주세요: ')

print(name+'님! 안녕하세요!')
print(name, '님! 안녕하세요!')
print(f'{name}님! 안녕하세요!')

이름을 입력해주세요: 박시우
박시우님! 안녕하세요!
박시우 님! 안녕하세요!
박시우님! 안녕하세요!

In [ ]:
age = input('나이를 입력해 주세요 : ')
print(int(age)-1)
type(age)

나이를 입력해 주세요 : 12
11

str

In [ ]:
age = int(input('나이를 입력해 주세요 : '))
print(age-1)
type(age)

나이를 입력해 주세요 : 12
11

int

In [ ]:
name = input('이름을 입력해 주세요 : ')
age = int(input('나이를 입력해 주세요 : '))

print(f'안녕하세요! {name} 님! 저는 처음에 {(age-4)}살인 줄 알았어요!!')

이름을 입력해 주세요 : 박시우
나이를 입력해 주세요 : 18
안녕하세요! 박시우 님! 저는 처음에 14살인 줄 알았어요!!

In [ ]:
print(10 * 2)   # * : 곱셈 연산자
print(10 ** 2)  # ** : 거듭 제곱 연산자
print(10 % 2)   # % : 나머지 연산자
print(7 / 2)   # / : 실수 나눗셈
print(7 // 2)  # // : 정수 나눗셈 (몫만 나옴)

20
100
0
3.5
3

In [ ]:
print(10 >= 2)
print(10 <= 2)
print(10 == 2)  
print(10 != 2)   
print(10 % 2 == 1)

True
False
False
True
False

In [ ]:
print(1==1 and 2 != 1) 
print(10 % 2 != 0 and 1 + 1 > 0 ) 
print()

print(10 < 5 or 10 == 5) 
print(10 % 2 != 0 or 1 + 1 > 0)
print()

print(not 10 > 5)  
print(not 10 == 5)  
print(not 0)        
print(not 10)

True
False

False
True

False
True
True
False

In [ ]:
name = '부산기계공고'

for i in name:
  print(i)

print()

for i in name:
  print(i, end=' ')

부
산
기
계
공
고

부 산 기 계 공 고

In [ ]:
name[0]

'부'

In [ ]:
for i in range(3,10,2):
  print(i ** 2)

for i in range(10):
  print(i ** 2, end=' ')

9
25
49
81
0 1 4 9 16 25 36 49 64 81

In [ ]:
if 10<0:
  print('hi')
print('hello')

hello

In [ ]:
if 10!=0 and 5%2==1:
  print('hi')

hi

In [ ]:
password=int(input('비밀번호 입력: '))
if password==2021:
  print('비밀번호가 일치합니다.')

비밀번호 입력: 2021
비밀번호가 일치합니다.

In [ ]:
for i in range(1,10000):
  if i== 2021:
    print('비밀번호가 일치합니다.')
    print(f'비밀번호는 {i}입니다.')

비밀번호가 일치합니다.
비밀번호는 2021입니다.

In [ ]:
password = int(input('비밀번호 4자리를 입력하세요 : '))

if password == 2021:
  print('비밀번호가 일치합니다.')
else :
  print('비밀번호가 일치하지 않습니다.')

비밀번호 4자리를 입력하세요 : 2021
비밀번호가 일치합니다.

In [ ]:
print('[ 소름끼치도록 놀라운 심리테스트 ]')

menu = input('당신이 좋아하는 음식을 입력해주세요 : ')

if menu == '짜장면':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '아이스크림':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
elif menu == '사탕':
  print(f'당신은 {menu}을 좋아하는 사람입니다.')
else :
  print(f'당신은 짜장면, 아이스크림, 사탕을 좋아하지 않는 사람입니다.')

[ 소름끼치도록 놀라운 심리테스트 ]
당신이 좋아하는 음식을 입력해주세요 : 사탕
당신은 사탕을 좋아하는 사람입니다.

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

for i in [0, 1, 2, 3, 4, 5]:
  print(names[i], end=' ')

print()

for i in range(6):
  print(names[i], end=' ')

print()
print(names[0])
print(names[-1])

정밀 폴리 산설 메카 로봇 전기
정밀 폴리 산설 메카 로봇 전기
정밀
전기

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

['정밀', '폴리']
['폴리', '산설']
['폴리', '산설', '메카', '로봇', '전기']
['정밀', '폴리', '산설', '메카', '로봇', '전기']

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']
names.append('부기공')
names.insert(0,'파이팅')
names

['파이팅', '정밀', '폴리', '산설', '메카', '로봇', '전기', '부기공']

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

print(len(names))   
print(len('문자열의 크기를 구해봅시다.'))

6
15

In [ ]:
names = ['정밀', '폴리', '산설', '메카', '로봇', '전기']

names.append('부산기계')

for name in names:
  if len(name) > 2:
    print(f'{name}공업고등학교')

부산기계공업고등학교

In [ ]:
print('Hello World')
print('Busan')
print('Mechanical')
print('High School')

Hello World
Busan
Mechanical
High School

In [ ]:
print('Hello', end = ' ') 
print('World')

Hello World

In [ ]:
print('Hello', 'World')  
print('Hello' + 'World')

Hello World
HelloWorld

In [ ]:
print('Hello\'') 
print('Hello\"')
print('Hello\nWorld')

Hello'
Hello"
Hello
World

In [ ]:
x = input() 
print(x)

hi
hi

In [ ]:
x = input('x 입력 : ')
y = input('y 입력 : ')

print(x, '+', y, '=', int(x)+int(y))

x 입력 : 1
y 입력 : 2
1 + 2 = 3

In [ ]:
x = input('x 입력 : ')
y = input('y 입력 : ')

print(f'{x} + {y} = {int(x)+int(y)}')

x 입력 : 1
y 입력 : 3
1 + 3 = 4

In [ ]:
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))

첫 번째 정수 입력 : 89
두 번째 정수 입력 : 39
89 + 39 = 128
89 - 39 = 50
89 x 39 = 3471
89 / 39 = 2.282051282051282

In [ ]:
x = int(input('첫 번째 정수 입력 : '))
y = int(input('두 번째 정수 입력 : '))

print(x, '+', y, '=', (x + y))
print(x, '-', y, '=', (x - y))
print(x, 'x', y, '=', (x * y))
print(x, '/', y, '=', (x / y))
print(x, '//', y, '=', (x // y)) 
print(x, '%', y, '=', (x % y)) 

print('*'*50)
print(f'{x} + {y} = {x+y}')

print(f'{x} + {y} = {x + y}')
print(f'{x} - {y} = {x - y}')
print(f'{x} x {y} = {x * y}')
print(f'{x} / {y} = {x / y}')
print(f'{x} // {y} (나눈 몫) = {x // y}')
print(f'{x} % {y} (나눈 나머지) = {x % y}')

첫 번째 정수 입력 : 89
두 번째 정수 입력 : 3
89 + 3 = 92
89 - 3 = 86
89 x 3 = 267
89 / 3 = 29.666666666666668
89 // 3 = 29
89 % 3 = 2
**************************************************
89 + 3 = 92
89 + 3 = 92
89 - 3 = 86
89 x 3 = 267
89 / 3 = 29.666666666666668
89 // 3 (나눈 몫) = 29
89 % 3 (나눈 나머지) = 2

In [ ]:
weight = int(input('weight(kg) : '))
height = int(input('height(cm) : '))

BMI = weight / ( height/100)**2

print(f'BMI : {BMI:.2f}')

weight(kg) : 70
height(cm) : 178
BMI : 22.09

In [ ]:
print('ExchangeRate Calc : $ - \ ')
ExchangeRate = float(input(' 1$ ExchangeRate : '))
KRW = int(input('KRW : '))

USD = ExchangeRate / 1000 * KRW

print(f'USD : {USD:.1f} $')

ExchangeRate Calc : $ - \
 1$ ExchangeRate : 0.84
KRW : 1700000
USD : 1428.0 $

In [ ]:
celsius = float(input('Celsius : '))

fahrenheit = (celsius * 1.8) + 32

print(f'Fahrenheit : {fahrenheit}')

Celsius : 0
Fahrenheit : 32.0

len() : 문자열 길이 구하기
count() : 문자의 개수 구하기
find() : 문자가 처음 나오는 위치 반환, 없으면 -1
index() : 문자열이 처음 나오는 위치 반환, 없으면 오류
join() : 문자열 사이에 문자 삽입, 예:'삽입문자'.join(문자열)
upper() : 소문자를 대문자로 변환
lower() : 대문자를 소문자로 변환
replace() : 문자열 바꾸기, 예:replace(원본, 변환 문자)
split() : 문자열 나누기 - 인수가 없으면 공백(스페이스, 탭, 엔터 등 구분자)을 기준

In [ ]:
x = 'Hello Python'

len(x)
print(f'len(x) : {len(x)}')

len(x) : 12

In [ ]:
x = 'Hello Python'

print(f"x.count('o') : {x.count('o')}")

x.count('o') : 2

In [ ]:
x = 'hello PytHon'

print(f'x.find("H") : {x.find("H")}')

x.find("H") : 9

In [ ]:
x = 'Hello Python'

print(f'x.index("Python") : {x.index("Python")}')

x.index("Python") : 6

In [ ]:
x = 'Hello Python'

z = '-'.join(x)
print(z)

H-e-l-l-o- -P-y-t-h-o-n

In [ ]:
x = 'Hello Python'

y = '-'.join(x)
print(y)

y.split("-")
print(f'y.split("-") : {y.split("-")}')

H-e-l-l-o- -P-y-t-h-o-n
y.split("-") : ['H', 'e', 'l', 'l', 'o', ' ', 'P', 'y', 't', 'h', 'o', 'n']

In [ ]:
x = 'Hello Python'

print(f'x.upper() : {x.upper()}')

x.upper() : HELLO PYTHON

In [ ]:
x = 'Hello Python'

print(f'x.lower() : {x.lower()}')

x.lower() : hello python

In [ ]:
x = 'Hello Python'

print(f'x.replace("P", "★") : {x.replace("P", "★")}')

x.replace("P", "★") : Hello ★ython

In [ ]:
corona = '''
코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다.
코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다.
이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다.
nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다.
'''
print('-'*50)
sentence = corona.count('.')
print(f'{sentence} 개의 문장으로 이루어짐')
print(corona.replace('\n','').split('.'))

print()

print('-'*50)
str = input('찾으려는 단어를 입력하시요 : ')
cnt = corona.count(str)
print(f"'{str}'(은/는) {cnt} 번 언급됨")

--------------------------------------------------
4 개의 문장으로 이루어짐
['코로나(corona)는 라틴말로 왕관을 뜻하며 통상 태양을 둘러싼 외곽의 빛(광환)을 지칭한다', '코로나 바이러스라는 이름은 전자현미경으로 이 바이러스를 관찰했을 때 마치 코로나와 유사한 모양을 띠어 붙여진 이름이다', '이번에 중국의 우환에서 시작된 코로나 바이러스는 2019년에 발견된 새로운 코로나 바이러스라는 뜻으로 2019-nCov로 붙여졌다', 'nCov는 novel(새로운) Cov(코로나 바이러스)라는 뜻이다', '']

--------------------------------------------------
찾으려는 단어를 입력하시요 : 라틴말
'라틴말'(은/는) 1 번 언급됨